<base-layout title="Añadir ave" [loading]="loading">
  <form #form="ngForm">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input required [(ngModel)]="bird.name" type="text" id="name" name="name" class="form-control" placeholder="Indique el nombre del ave">
    </div>
    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea required [(ngModel)]="bird.description" id="description" name="description" minlength="20" class="form-control" rows="3" #description="ngModel"></textarea>
      <small id="descriptionHelpBlock" class="form-text" [class]="(!description.pristine && description.invalid) ? 'text-danger' : 'text-muted' ">
        La longitud de la descripción debe ser de al menos 20 caracteres.
      </small>
    </div>
    <div class="form-check">
      <input [(ngModel)]="bird.seen" class="form-check-input" id="seen" name="seen" type="checkbox" value="" (ngModelChange)="getPosition()">
      <label class="form-check-label" for="seen">Añadir avistamiento</label>
    </div>
    <div *ngIf="bird.seen" class="form-group">
      <label for="place">Lugar</label>
      <input required [(ngModel)]="sight.place" name="place" id="place" type="text" class="form-control" placeholder="Lugar del avistamiento del ave">
    </div>
    <div *ngIf="bird.seen" class="form-row">
      <div class="form-group col">
        <label for="lat">Latitud</label>
        <input required [(ngModel)]="sight.lat" name="lat" id="lat" type="number" step="any" class="form-control">
      </div>
      <div class="form-group col">
        <label for="long">Longitud</label>
        <input required [(ngModel)]="sight.long" name="long" id="long" type="number" step="any" class="form-control">
      </div>
    </div>

    <button *ngIf="!loading" [disabled]="form.invalid" (click)="saveBird()" class="btn btn-primary mt-2">Añadir ave</button>
    <button *ngIf="loading" class="btn btn-primary mt-2" disabled>
      <span  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Añadiendo ave
    </button>    
  </form>
</base-layout>
