<base-layout [title]="'Añadir avistamiento de ' + bird.name" [loading]="loading">

  <form #form="ngForm">
    <div class="form-group">
      <label for="place">Lugar</label>
      <input required [(ngModel)]="sight.place" name="place" id="place" type="text" class="form-control" placeholder="Lugar del avistamiento del ave">
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label for="lat">Latitud</label>
        <input required [(ngModel)]="sight.lat" name="lat" id="lat" type="number" step="any" class="form-control">
      </div>
      <div class="form-group col">
        <label for="long">Longitud</label>
        <input required [(ngModel)]="sight.long" name="long" id="long" type="number" step="any" class="form-control">
      </div>
    </div>

    <button *ngIf="!loading" [disabled]="!form.valid" (click)="saveSight()" class="btn btn-primary mt-2">Añadir avistamiento</button>
    <button *ngIf="loading" class="btn btn-primary mt-2" disabled>
      <span  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Añadiendo avistamiento
    </button>
  </form>

</base-layout>
