<div class="login text-center">
<form class="form-signin" [class.loading]="loading">
  <img class="mb-4" src="/assets/logo.png" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Accede a BirdWatch</h1>
  <label for="username" class="sr-only">Usuario</label>
  <input [(ngModel)]="username" type="text" id="username" name="username" class="form-control" placeholder="Usuario" required autofocus>
  <label for="password" class="sr-only">Contraseña</label>
  <input [(ngModel)]="password" type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
  <button *ngIf="!loading" class="btn btn-lg btn-primary btn-block" (click)="login()">
  	Acceder
  </button>
  <button *ngIf="loading" class="btn btn-lg btn-primary btn-block" disabled>
  	<span  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  	Accediendo
  </button>
  <p class="mt-5 mb-3 text-muted">&copy; Bruno Orcha, UOC 2019</p>
</form>
</div>