<base-layout [hideBack]="true">
	<h1><i class="fa fa-home"></i> Menú principal</h1>

	<a href="/birds" class="media" (click)="goToBirds()">
	  <i class="fa fa-list-alt"></i>
	  <div class="media-body">
	    <h5 class="mt-0">Listado de aves</h5>
	    <p>Desde aquí podrá consultar el catálogo de aves disponibles en nuestra base de datos.</p>
	  </div>
	</a>


	<a href="/birds/add" class="media" (click)="goToBirdAdd()">
	  <i class="fa fa-plus-square"></i>
	  <div class="media-body">
	    <h5 class="mt-0">Añadir ave</h5>
	    <p>Añada un nuevo espécimen no existen en su base de datos y agregar información sobre el avistamiento.</p>
	  </div>
	</a>

	<a href="/info" class="media" (click)="goToInfo()">
	  <i class="fa fa-info-circle"></i>
	  <div class="media-body">
	    <h5 class="mt-0">Información</h5>
	    <p>Consulta detalles sobre el origen de esta apliación, su creador y sus características.</p>
	  </div>
	</a>

</base-layout>