
a.media {
	color: black;
	text-decoration: none;
	border: 1px solid #c6c6c6;
	padding: 10px;
	margin-bottom: 1em;
}

a.media:hover {
	background-color: #fff7e7;
}

a.media i.fa {
	margin-right: 1rem;
	font-size: 3em;
}

.media-body p {
	color: #969696;
	font-size: 0.9em;
}