<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="/" (click)="gotoMain()">
    <img src="/assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    BirdWatch
  </a>
  <div class="d-flex justify-content-end">
    <a class="btn btn-sm btn-outline-secondary" href="#" title="Desconectar" (click)="logout()">{{loggedUser.user}} <i class="fa fa-sign-out"></i></a>
  </div>
</nav>
<main class="container" [class.loading]="loading">
	<h1 *ngIf="!hideBack"><a href="/" (click)="goBack()"><i class="fa fa-chevron-circle-left"></i></a> {{title}}</h1>
	<ng-content></ng-content>
</main>
