nav {
	box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
}

main {
  margin-top: 7em;
  margin-bottom: 2em;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.2);
  padding: 1em;
}

@media (max-width: 575.98px) {
  main {
  	margin-top: 5em;
  }
}