<base-layout title="Información">
<img class="float-right" src="/assets/logo.png" width="100" height="100">
<p><em>BirdWatch</em> es la página lider en gestión de avistamientos de aves.</p>	
<p>Aplicación web realizada por Bruno Orcha García para la asignatura <em>Desarrollo front-end con framework JavaScript (M4.254)</em> del master universatario en desarrollos de aplicaciones web de la UCO.</p>
<p class="clearfix"></p>
</base-layout>
