<base-layout title="Listado de aves" [loading]="loading">
  <div *ngIf="!loading; else loadingBlock" class="row mx-md-n2">

    <div *ngFor="let bird of birds" class="col-md-4 px-md-2 mb-2">
      <div class="card mb-2" (click)="goToDetailBird(bird)">
        <div class="row no-gutters">
          <div class="col-3">
            <img src="{{bird.image}}" class="card-img">
          </div>
          <div class="col-9">
            <div class="card-body">
              <div *ngIf="bird.seen" class="float-right" title="Ya has avistado a esta ave">
                <i class="fa fa-eye"></i>
              </div>
              <div *ngIf="!bird.seen" class="float-right text-danger" title="Todavía no has avistado este ave">
                <i class="fa fa-eye-slash"></i>
              </div>
              <h5 class="card-title">{{bird.name}}</h5>
              <div class="card-text d-flex">
                <div class="ml-auto" title="Total de avistamientos">
                  <i class="fa fa-binoculars"></i> {{bird.sightings}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <button class="btn btn-primary mt-2" (click)="gotoBirdAdd()">Añadir ave</button>


  <ng-template #loadingBlock>
    <div class="row mx-md-n2">
      <div *ngFor="let i of [].constructor(9)" class="col-md-4">
        <div class="ph-item">
          <div class="ph-col-4">
            <div class="ph-avatar"></div>
          </div>
          <div>
            <div class="ph-row">
              <div class="ph-col-8 big"></div>
              <div class="ph-col-2 empty"></div>
              <div class="ph-col-2 big"></div>
              <div class="ph-col-6 empty"></div>
              <div class="ph-col-6 big"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</base-layout>
