<base-layout title="Detalles sobre {{bird.name}}" [loading]="loading">
  <div *ngIf="!loading; else loadingBlock">

    <img src="{{bird.image}}" class="rounded float-right img-thumbnail mb-2" alt="{{bird.name}}">
    <h4>{{bird.name}}</h4>
    <p>{{bird.description}}</p>
    <p><i class="fa fa-binoculars"></i> Total de avistamientos: <b>{{bird.sightings}}</b></p>
    <h5 *ngIf="bird.sightingsList?.length > 0" class="mt-5">Avistamientos</h5>
    <ul>
      <li *ngFor="let sight of bird.sightingsList">{{sight.place}}
        <a href="https://www.google.es/maps/place/{{sight.lat}},{{sight.long}}" target="_blank"><i class="fa fa-map-marker"></i></a></li>
    </ul>
    <p class="clearfix"></p>
  </div>

  <button class="btn btn-primary mt-2" (click)="goToBirdSightAdd()"> Nuevo avistamiento</button>


  <ng-template #loadingBlock>
    <div class="ph-item">
      <div class="ph-col-10">
        <div class="ph-row">
          <div class="ph-col-6 big"></div>
          <div class="ph-col-6 big empty"></div>
          <div class="ph-col-2"></div>
          <div class="ph-col-10 empty"></div>
          <div class="ph-col-8"></div>
          <div class="ph-col-4 empty"></div>
          <div class="ph-col-12"></div>
        </div>
      </div>
      <div class="ph-col-2">
        <div class="ph-picture"></div>
      </div>
    </div>
  </ng-template>

</base-layout>
