@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,600&display=swap');

html, body {
  height: 100%;
}

body {
  background-image: url('/assets/back.png');
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, form label {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600 !important;
}


main h1 {
  font-size: 1.5em;
  margin-bottom: 2em;
}


.loading {
  position: relative;
}

.loading:after {
  content: url('src/assets/loading.gif');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: calc(20% - 100px);
  background: #ffffff80;
  z-index: 10;
}